/* Tracker.css */
.order-details {
    display: flex;
   
  }
  
  @media (max-width: 768px) {
    .order-details {
      flex-direction: column;
    }
  
    .order-details table {
      width: 100%;
    }
  
    .order-details th,
    .order-details td {
      display: block;
      width: 100%;
      text-align: left;
    }
  
    .order-details th {
      background-color: #f2f2f2;
    }
  
    .order-details td {
      border: none;
      padding: 8px 0;
    }
  
    .order-details td div {
      margin-bottom: 8px;
    }
  }
  
  @media (min-width: 769px) {
    .order-details {
      flex-direction: row;
    }
  
    .order-details th,
    .order-details td {
      display: table-cell;
      text-align: center;
    }
  }