.spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #242424;
  }
  
  .loading-text {
    margin-top: 15px;
    color: #ffffff;
    font-size: 1.5rem;
  }
  