/* Container Styling */
.event-container {
  color: #fff;
  padding: 10px;
}

.event-title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #ffffff;
  font-family: nunito;
}

.typograph-text {
  width: 150px;
  height: 85px;
  /* font-family: "Licorice", serif; */
  font-weight: 400;
  font-size: 60px;
}

/* Card Styling */
.event-card {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch; /* Ensures content aligns properly */
  overflow: hidden;
}

.card-image {
  max-height: 400px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-contents {
  max-height: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.artist-name {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.artist-name span {
  font-size: 2rem;
  color: #ffa500;
}

.details {
  margin: 10px 0;
  font-size: 0.95rem;
  line-height: 1.6;
}

.event-info {
  margin: 15px 0;
  font-size: 1rem;
}

.ticket-button {
  width: 50%;
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ticket-button:hover {
  background-color: #cc0000;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .event-card {
    flex-direction: column;
  }

  .card-image,
  .card-contents {
    flex: 1 1 100%; /* Both sections will take full width on small screens */
  }
}

@media (max-width: 576px) {
  .event-card {
    flex-direction: column;
  }

  .card-image,
  .card-contents {
    flex: 1 1 100%; /* Both sections will take full width on extra small screens */
  }

  .card-text {
    font-size: 18px;
  }

  .card-button {
    font-size: 16px;
    padding: 8px;
  }

  .artist-name {
    font-size: 1.5rem;
  }

  .details {
    font-size: 0.85rem;
  }

  .event-info {
    font-size: 0.9rem;
  }
  .typograph-text{
    font-size: 35px; /* Adjust font size for small screens */
  }
}

@media (max-width: 576px) {
  .typograph-text-responsive {
    font-size: 25px; /* Adjust font size for extra small screens */
  }
}