/* Card Styles */
.event-card {
  background-color: rgb(245, 245, 255); /* Soft pastel color */
  border: 1px solid rgb(200, 200, 255); /* Subtle border matching the theme */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Slightly stronger shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  align-items: center;
}

.event-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.ticket-button {
  background-color: #c30505;
  border: none;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.event-image {
  width: 30%;
  height: 30%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
  margin-right: 20px;
}

/* Title Styles */
.card-title {
  font-size: 1.4rem;
  font-weight: bold;
}

/* Subtitle Styles */
.card-subtitle {
  font-size: 1rem;
  margin-bottom: 12px;
}

/* Body Text */
.card-text {
  font-size: 13px;
  line-height: 1.2;
  font-family: 'Open Sans', sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Pagination Styles */
.pagination .page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.pagination .page-link {
  color: #007bff;
}

/* Responsive Design Adjustments */
@media (max-width: 992px) {
  .event-card {
    flex-direction: column;
  }

  .event-image,
  .card-body {
    flex: 1 1 100%; /* Both sections will take full width on medium and smaller screens */
  }

  .event-image {
    width: 100%;
    height: auto; /* Adjust height to maintain aspect ratio */
    margin-right: 0;
    border-radius: 10px 10px 0 0;
  }

  .card-title {
    font-size: 1.5rem;
  }

  .card-subtitle {
    font-size: 0.9rem;
  }

  .card-text {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .event-image {
    height: 150px; /* Set a fixed height for small screens */
  }

  .card-title {
    font-size: 1.3rem;
  }

  .card-subtitle {
    font-size: 0.85rem;
  }

  .card-text {
    font-size: 11px;
  }
}

@media (max-width: 576px) {
  .event-image {
    height: 120px; /* Set a smaller fixed height for extra small screens */
  }

  .card-title {
    font-size: 1.2rem;
  }

  .card-subtitle {
    font-size: 0.8rem;
  }

  .card-text {
    font-size: 10px;
  }
}