@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.container-fluid {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  padding-right: 0;
  padding-left: 0;
}

.slider-container {
  margin-top: -1px;
  min-width: 93vw;
  overflow: hidden;
}

.carousel-control-prev,
.carousel-control-next,
.carousel-indicators {
  display: none;
}

@font-face {
  font-family: 'LiAlinurNakkhatra';
  src: url('/fonts/LiAlinurNakkhatraUnicode.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.bangla-text {
  font-family: 'LiAlinurNakkhatra', sans-serif;
  font-size: 50px;
}

.carousel-caption {
  background-color: inherit;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
}

.logo {
  width: 216px;
  height: 42px;
  margin-left: 21px; /* Space from the left */
}

.carousel-item img {
  width: 100%;
  height: 500px; /* Initial height of the carousel images */
  object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1); /* Invert arrow colors for better visibility */
}

.slider-text {
  font-family: 'Inter', sans-serif;
}

/* Responsive Design Adjustments */
@media (max-width: 1200px) {
  .bangla-text {
    font-size: 40px; /* Adjust text size for large screens */
  }

  .carousel-item img {
    height: 400px; /* Adjust image height for large screens */
  }
}

@media (max-width: 992px) {
  .bangla-text {
    font-size: 35px; /* Adjust text size for medium screens */
  }

  .carousel-item img {
    height: 350px; /* Adjust image height for medium screens */
  }
}

@media (max-width: 768px) {
  .bangla-text {
    font-size: 30px; /* Adjust text size for small screens */
  }

  .carousel-item img {
    height: 300px; /* Adjust image height for small screens */
  }
}

@media (max-width: 576px) {
  .bangla-text {
    font-size: 25px; /* Adjust text size for extra small screens */
  }

  .carousel-item img {
    height: 250px; /* Adjust image height for extra small screens */
  }
}
